*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ------------colors------------ */
  --clr-text: #445566;
  --clr-nav: #7f7f7f;
  --clr-white: #ffffff;
  --clr-gray: #aabbcc;
  --clr-blue: #3599ee;
  /* ------------font size------------ */
  --font-title: 1.75rem; /*28px*/
  --font-subtitle: 1.25rem; /*20px*/
  --font-text: 1.125rem; /*18px*/
  --font-nav: 1rem; /*16px*/
}